.brand-logo{
	figure{
		padding: 0;
		margin: 5px 0 0;
		max-width: 300px;

		img{
			width: 100%;
		}
	}
}

/* Utilities */
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}